%form{action: '/template', method: "post"}
  %input{type: "text", name: "post[first_name]", size: 20}
  %input{type: "text", name: "post[last_name]", size: 20}
  %input{type: "submit", value: "Send"}
